# local package
#-e .

# external requirements
mysql-connector-python
plotly
cython
numpy
PyMySQL
pandas
plotly
requests
SQLAlchemy
mysql-client
pyyaml
pymongo
sshtunnel
pystan==2.19.1.1
fbprophet==0.7
yagmail
scikit-learn
requests